/* Global Styles */
:root {
    --primary-color: #006400; /* Dark Green */
    --secondary-color: #000000; /* Black */
    --accent-color: #ff0000; /* Red */
    --light-color: #ffffff; /* White */
    --bg-color: #f4f4f4;
    --font-family: 'Arial', sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
}
h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

/* Header */
header {
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

/* Hero Section */
.hero {
    text-align: center;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-bottom: 5px solid var(--accent-color);
    content: url('images/hero-large.webp'); /* Default image */
}

/* Weather Section */
.weather {
    background-color: var(--light-color);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.weather-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('images/weather-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px auto;
}




.weather h2 {
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

/* Weather Icon (pseudo-element in large screens) */
@media (min-width: 768px) {
    .weather h2::after {
        content: " ⛅";
        color: var(--accent-color);
        font-size: 1.5rem;
        font-size: 1rem;
        margin-left: 10px;
    }
}
.hero img {
    content: url('images/hero-large.webp'); /* Default image */
}

@media (max-width: 1000px) {
    .hero img {
        content: url('images/hero-medium.webp'); /* Medium screen */
    }
}

@media (max-width: 500px) {
    .hero img {
        content: url('images/hero-small.webp'); /* Small screen */
    }
}


/* Footer */
footer {
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        text-align: center;
    }

    .weather {
        width: 90%;
        margin: 10px auto;
    }
}
